<ion-view>
	
	<ion-nav-title>
      Scanning:{{headerTitle}}
    </ion-nav-title>
 
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
  
  	<ion-content class="has-header">
  	 <code><pre>{{list}}</pre></code>
	<!-- example for start scanning ble pacages-->
	<h2 class="text-center positive padding-vertical" ng-show="knownBleDevices.length == 0">nothing found...</h2>
 	 	{{list.length}}
   
    
 	<ion-list ng-show="knownBleDevices.length != 0" show-delete="data.showDelete" > 

		 <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input ng-model="all"  type="text" placeholder="Search...">
		  </label>
	
 	 	
		  <!-- Filters should be applied to the expression, before specifying a tracking expression
		  	   https://docs.angularjs.org/api/ng/directive/ngRepeat
		  	   rangeFilter:filtersSettings.triggerRange:'rssi' |
		  	   | filter:all | orderBy:orderProp
		  	   
		  	   track by device.address
		  	   
		   -->
		
		<ion-item class="item-icon-left item-icon-right"
        		  ng-repeat="(key, device) in list | filter:all"
                  href="#" 
                  class="item-remove-animate"> 
 					<ng-ble-item ng-model="device"></ng-ble-item>
 		</ion-item>
 	</ion-list>
 	
 	

  </ion-content>
  
  
</ion-view>
