<ion-view>
	<style>
		h1									{margin: 25px 15px 0 15px; font-size:1em;font-weight:bold;}
		.box-big							{cursor:pointer;border-radius: 7px;background-color: white; text-align: center; border: 2px solid #B2B2B2;}
		.box-big img						{border-top-left-radius: 6px;border-top-right-radius: 6px;width:100%;}
		.box-big h2							{padding: 0 15px; color:#333333; font-size:1.2em; margin-top:10px;}
		.box-big .debugInfo					{padding:10px;background: black;opacity:0.5; width:100%; color:white;font-size:1em;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}	
		.box-big .debugInfo .rssi			{float:left;}
		.box-big .debugInfo .radius			{float:right;}	
			
		.box-small							{width:100%;cursor:pointer; border-radius: 7px;background-color: white; text-align: center; border: 2px solid #B2B2B2;}
		.box-small img						{border-top-left-radius: 6px;border-top-right-radius: 6px;width:100%;}
		.box-small h2						{font-size:1em; padding: 0px 15px;color:#333333; margin-top:10px;margin-bottom:7px;}
		.box-small .debugInfo				{padding:10px;background: black;opacity:0.5; width:100%; color:white;font-size:0.8em;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}	
		.box-small .debugInfo .rssi			{float:left;}
		.box-small .debugInfo .radius		{float:right;}	
		
		.hideDebugInfo						{display:none;}	
		.truncate 							{width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
		.clear								{clear:both;}
		.ion-image							{padding-right:10px;}
		
		
		.arrowbox-bottom-small				{position: relative;}
		.arrowbox-bottom-small:after, 
		.arrowbox-bottom-small:before 		{bottom: 0%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;	pointer-events: none;}
		.arrowbox-bottom-small:after 		{border-color: rgba(136, 183, 213, 0);border-bottom-color: white;border-width: 25px;margin-left: -25px;}
		.arrowbox-bottom-small:before 		{border-color: rgba(194, 225, 245, 0);border-bottom-color: white;border-width: 25px;margin-left: -25px;}
		
		.arrowbox-bottom-big				{position: relative; }
		.arrowbox-bottom-big:after,
		.arrowbox-bottom-small:before 		{bottom: 0%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;	pointer-events: none;}
		.arrowbox-bottom-big:after 			{border-color: rgba(136, 183, 213, 0);border-bottom-color: white;border-width: 40px;margin-left: -40px;}
		.arrowbox-bottom-big:before 		{border-color: rgba(194, 225, 245, 0);border-bottom-color: white;border-width: 40px;margin-left: -40px;}
	</style>
	
	
	
	
	
	<ion-nav-title >
      Scanning {{listLength}} Beacon<span ng-show="listLength!=1">s</span>
    </ion-nav-title>
 
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
  
  	<ion-content class="has-header">
 	
 	<ion-refresher on-refresh="refreshServerData('pullToRefresh')"></ion-refresher>
 	

	<h1>Nearest Beacons:</h1>
	
	<div class="row">
	  <div class="col">
			<div class="box-big ">
				
				<div class="arrowbox-bottom-big">
					<img src="images/beacons.jpeg" />
				</div>
				
				
				<h2 class="truncate">Tokencube Besprechungsraum Tokencube Besprechungsraum</h2>
				<div class="debugInfo hideDebugInfo">
					<div class="rssi">-64dBm</div>
					<div class="radius">Intermediate</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>

	

	
	
	
	
	<div class="row">
	  
		  <div class="col">
		    	<div class="box-small">
					<div class="arrowbox-bottom-small">
						<img src="images/beacons.jpeg" />
					</div>
					<h2 class="truncate">Tokencube Besprechungsraum Tokencube Besprechungsraum</h2>
					<div class="debugInfo hideDebugInfo">
						<div class="rssi">-64dBm</div>
						<div class="radius">Intermediate</div>
						<div class="clear"></div>
					</div>
				</div>
		  </div>
	  
	  
		  <div class="col">
		    	<div class="box-small">
					<div class="arrowbox-bottom-small">
						<img src="images/beacons.jpeg" />
					</div>
					<h2 class="truncate">Tokencube Besprechungsraum Tokencube Besprechungsraum</h2>
					<div class="debugInfo">
						<div class="rssi">-64dBm</div>
						<div class="radius">Intermediate</div>
						<div class="clear"></div>
					</div>					
				</div>
		  </div>
	</div>	
	<div class="row">
	  
		  <div class="col">
		    	<div class="box-small">
					<div class="arrowbox-bottom-small">
						<img src="images/beacons.jpeg" />
					</div>
					<h2 class="truncate">Tokencube Besprechungsraum Tokencube Besprechungsraum</h2>
					<div class="debugInfo">
						<div class="rssi">-64dBm</div>
						<div class="radius">Intermediate</div>
						<div class="clear"></div>
					</div>					
				</div>
		  </div>
	  
	  
		  <div class="col">
		    	<div class="box-small">
					<div class="arrowbox-bottom-small">
						<img src="images/beacons.jpeg" />
					</div>
					<h2 class="truncate">Tokencube Besprechungsraum Tokencube Besprechungsraum</h2>
					<div class="debugInfo">
						<div class="rssi">-64dBm</div>
						<div class="radius">Intermediate</div>
						<div class="clear"></div>
					</div>					
				</div>
		  </div>
	</div>
	  
	
	
	
	
	
	
	
	


	<div class="clear">&nbsp;</div>
	

 	
 	

  </ion-content>
  
  
</ion-view>
