# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
/.project
/config.xml
/gulpfile.js
/ionic.project
/package.json
/hooks/
