<?xml version='1.0' encoding='utf-8'?>
<widget id="com.starnberger.beaconplayer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BeaconPlayer</name>
    <description>
	Beacon Player application that reacts to known beacons and opens the associated content
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Starnberger Innovation and Technology GesmbH
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
