.map-view {
  .scroll{
    height:100%;
  }
}

.leaflet-map {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.leaflet-div-icon {
  border:none;
  background-color:transparent;
}


