<ion-view>
	
	<ion-nav-title >
      Scanning {{listLength}} Beacon<span ng-show="listLength!=1">s</span>
    </ion-nav-title>
 
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
  
  	<ion-content class="has-header">
  

	<h2 class="text-center positive padding-vertical" ng-show="listLength == 0">no beacons found...</h2>
 	
 	<ion-refresher on-refresh="refreshServerData('pullToRefresh')"></ion-refresher>
 	
 	<ion-list 	ng-show="listLength != 0" 
		 		show-delete="false"
		        show-reorder="false"
		        can-swipe="true" 
 	> 
		<ion-item ng-repeat="device in receivedDevicesList | orderBy:'rssi' track by device.bcmsBeaconKey " 
                  href="#" 
                  class=" item-icon-right "
                  ng-class="device.bcmsBeacon.contentThumbnailUrl?'item-avatar':'item-icon-left'"> 
                  
                  <img class="content-img" ng-show="device.bcmsBeacon.contentThumbnailUrl" ng-src="{{device.bcmsBeacon.contentThumbnailUrl}}">
                 
				  <h2>{{device.bcmsBeacon.content_title}}{{device.scanData.rssi}}</h2>
 				  <ng-ble-item ng-model="device" ng-click="openIAB(device.bcmsBeaconKey)"></ng-ble-item>  
 		</ion-item>
 		
 	</ion-list>
 	
 	

  </ion-content>
  
  
</ion-view>
