<ion-view id="tourView">
	
	<ion-nav-title >
      Tour {{listLength}} Beacon<span ng-show="listLength!=1">s</span>
    </ion-nav-title>
 
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
  
  	<ion-content class="has-header">
   
	<h2 class="text-center positive padding-vertical" ng-show="listLength == 0">nothing found...</h2>
 	
 	<ion-refresher on-refresh="refreshServerData('pullToRefresh')"></ion-refresher>
 	
 		<!-- Beacon list -->
		<div class="listContainer" ng-repeat="device in showDeviceList | orderBy:'sort'" 
                  href="#" 
                  class=" item-icon-right "
                  ng-class="device.bcmsBeacon.contentThumbnailUrl?'item-avatar':'item-icon-left'"> 
                  
                  <!-- First beacon in list -->
                  <div ng-if="$index == 0">
                  				<a href="#" ng-click="openIAB(device.bcmsBeaconKey)">
									<div class="box-big ">
										
										<div class="arrowbox-bottom-big">
											<img src="{{device.contentThumbnailUrl}}" />
										</div>
										
										
										<h2 class="truncate">{{device.contentTitle}}</h2>
										<div class="debugInfo">
											<div class="rssi">{{device.rssi}}</div>
											<div class="radius">{{device.triggerZone}}</div>
											<div class="clear"></div>
										</div>
									</div>
								</a>
                  </div>
                  
                  
                  <!-- All other beacon in list -->
                  <div ng-if="$index != 0">
                  		
								  <div class="box-small-container">
								  		<a href="#" ng-click="openIAB(device.bcmsBeaconKey)">
								    	<div class="box-small">
											<div class="arrowbox-bottom-small">
												<img src="{{device.contentThumbnailUrl}}" />
											</div>
											<h2 class="truncate">{{device.contentTitle}}</h2>
											<div class="debugInfo">
												<div class="rssi">{{device.rssi}}</div>
												<div class="radius">{{device.triggerZone}}</div>
												<div class="clear"></div>
											</div>
										</div>
										</a>
								  </div>		
				</div>
 		</div>
 	
 	
 		<div class="clear"></div>
 		
 		
 		
 		
 		
 		
  </ion-content>
  
  
</ion-view>
