

/*Help Slider Style*/

	#helpView .slider 						{height: 100%;}
	#helpView .slider-slide 				{background-image: url("/app/components/help/images/bg.jpg");  color: #000; text-align: center; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300;}
	#helpView .slider-slide .slide			{background:white; opacity:0.75;height:100%; width:100%; padding: 40px 20px 0px 20px;}
	#helpView .slider-pager 				{bottom:80px;}
