
/*	Style Title	*/		
		#tourView h1									{margin: 25px 15px 0 15px; font-size:1em;font-weight:bold;}
		#tourView .listContainer						{margin-right:10px;}
		

/*	Big Box*/		
		#tourView .box-big								{margin:10px 0 10px 10px;border-radius: 7px;background-color: white; text-align: center; border: 2px solid #B2B2B2;}
		#tourView .box-big img							{border-top-left-radius: 6px;border-top-right-radius: 6px;width:100%;}
		#tourView .box-big h2							{padding: 0 15px; color:#333333; font-size:1.2em; margin-top:10px;}
		#tourView .box-big .debugInfo					{padding:10px;background: black;opacity:0.5; width:100%; color:white;font-size:1em;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}	
		#tourView .box-big .debugInfo .rssi				{float:left;}
		#tourView .box-big .debugInfo .radius			{float:right;}	
		#tourView .arrowbox-bottom-big					{position: relative; }
		#tourView .arrowbox-bottom-big:after,
		#tourView .arrowbox-bottom-small:before 		{bottom: 0%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;	pointer-events: none;}
		#tourView .arrowbox-bottom-big:after 			{border-color: rgba(136, 183, 213, 0);border-bottom-color: white;border-width: 40px;margin-left: -40px;}
		#tourView .arrowbox-bottom-big:before 			{border-color: rgba(194, 225, 245, 0);border-bottom-color: white;border-width: 40px;margin-left: -40px;}
		#tourView .item-icon-left						{padding-left:0px;}

/*	Small Box */
		#tourView .box-small-container					{float:left; width:50%; padding:0 0 10px 10px;}
		#tourView .item-avatar, 
			#tourView .item-avatar .item-content, 
			#tourView .item-avatar-left, 
			#tourView .item-avatar-left .item-content	{min-height:0px;padding-left:0px;}			
		#tourView .item-icon-right								{padding-right:0px;}		
		#tourView .box-small							{width:100%; border-radius: 7px;background-color: white; text-align: center; border: 2px solid #B2B2B2;}
		#tourView .box-small img						{border-top-left-radius: 6px;border-top-right-radius: 6px;width:100%;}
		#tourView .box-small h2							{font-size:1em; padding: 0px 15px;color:#333333; margin-top:10px;margin-bottom:7px;}
		#tourView .box-small .debugInfo					{padding:10px;background: black;opacity:0.5; width:100%; color:white;font-size:0.8em;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}	
		#tourView .box-small .debugInfo .rssi			{float:left;}
		#tourView .box-small .debugInfo .radius			{float:right;}	
		
		#tourView .arrowbox-bottom-small				{position: relative;}
		#tourView .arrowbox-bottom-small:after, 
		#tourView .arrowbox-bottom-small:before 		{bottom: 0%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;	pointer-events: none;}
		#tourView .arrowbox-bottom-small:after 			{border-color: rgba(136, 183, 213, 0);border-bottom-color: white;border-width: 25px;margin-left: -25px;}
		#tourView .arrowbox-bottom-small:before 		{border-color: rgba(194, 225, 245, 0);border-bottom-color: white;border-width: 25px;margin-left: -25px;}
		
		
/*	Helper Classes */		
		#tourView .hideDebugInfo						{display:none;}	
		#tourView .truncate 							{width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
		#tourView .clear								{clear:both;}
		#tourView .ion-image							{padding-right:10px;}
		
		
		
		