<ion-side-menus> 

	<ion-side-menu-content drag-content="false">
    	<ion-nav-bar class="bar-stable nav-title-slide-ios7">
			
			<ion-nav-back-button class="button-clear icon" id="main-back-button">
				<i class="icon ion-ios7-arrow-back"></i>
			</ion-nav-back-button>
			
			<ion-nav-buttons side="left">
    			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  			</ion-nav-buttons>
      		
      		<ion-nav-buttons side="right" >
  				<div class=" button button-icon icon fa fa-qrcode fa-2"></div>
  				<ng-ble-state ></ng-ble-state>  
  			</ion-nav-buttons>

  			
    	</ion-nav-bar>
    
    	<ion-nav-view name="mainContent" animation="slide-left-right">
    	<!-- Main content goes here -->
    	</ion-nav-view>

	</ion-side-menu-content>
	
	<ion-side-menu side="left" enable-menu-with-back-views="true">
	
		<header class="bar bar-header bar-stable">
      		<img src="images/icon.png" width="33px" /><h1 class="title"><b>Beacon Player</b></h1>
      		
    	</header>
    	<ion-content class="has-header">
		<ion-list>
	        <ion-item item-type="item-icon-left" nav-clear menu-close ui-sref="app.scanning">
	          <i class="icon ion-chevron-right" style="margin-right:15px;"></i>Scan Beacons
	        </ion-item>
	       
	       
	        <ion-item nav-clear menu-close ui-sref="app.scanning">
	          <i class="icon ion-chevron-right" style="margin-right:15px;"></i>Scan Beacons(Advanced)
	        </ion-item>
	        
	        <ion-item nav-clear menu-close ui-sref="app.help">
	          <i class="icon ion-chevron-right" style="margin-right:15px;"></i>Scan QR Code
	        </ion-item>
	
	        <ion-item nav-clear menu-close ui-sref="app.help">
	          <i class="icon ion-chevron-right" style="margin-right:15px;"></i>Help
	        </ion-item>
	        <br /><br />
	        
	        
	    	<h3 style="margin-left:15px;">Settings</h3>
	        <ion-toggle ng-model="autoOpenContent" toggle-class="toggle-calm">Auto Open Content</ion-toggle>
	        <ion-toggle ng-model="showMoreInfo" toggle-class="toggle-calm">Show Debug Information</ion-toggle>
	        <ion-toggle ng-model="optimizeBeaconDetection" toggle-class="toggle-calm">Optimize Beacon Detection</ion-toggle>
	        
	        
        


      </ion-list>
    </ion-content>
			
	</ion-side-menu>

</ion-side-menus>