<ion-side-menus> 

	<ion-side-menu-content drag-content="false">
    	<ion-nav-bar class="bar-stable nav-title-slide-ios7">
			

			
			<ion-nav-buttons side="left">
    			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  			</ion-nav-buttons>
      		
      		<ion-nav-buttons side="right" >
  				<!-- <sit-ble-state></sit-ble-state> -->  
  				<sit-qr-scanner></sit-qr-scanner>  
  			</ion-nav-buttons>
  			
    	</ion-nav-bar>
    
    	<!-- 
    	@TODO create directive for info bar
    	<info-bar></info-bar>
    	 -->
    	
	    <div class="bar bar-network bar-assertive " ng-if="states.isOffline" >
			No Internet Connection!
		</div>
	
    	<ion-nav-view name="mainContent" animation="slide-left-right">
    	<!-- Main content goes here -->
    	</ion-nav-view>

	</ion-side-menu-content>
	
	<ion-side-menu side="left" enable-menu-with-back-views="true">
		<header class="bar bar-header bar-stable">
      		<h1 class="title">Main Menu</h1>
    	</header>
    	<ion-content class="has-header">
		<ion-list>
	        <ion-item nav-clear menu-close ui-sref="app.help">
	          Help
	        </ion-item>
	        <ion-item nav-clear menu-close ui-sref="app.tour">
	          Tour
	        </ion-item>
			<ion-item nav-clear menu-close ui-sref="app.ble-devices">
	          Scanning
	        </ion-item>

	       <!--   
	        <ion-item nav-clear menu-close ui-sref="app.api-devices">
	          api-devices
	        </ion-item>
	        
	        <ion-item nav-clear menu-close ui-sref="app.scanning">
	          Mixed-Scanning
	        </ion-item>
	    
	        
	        <ion-item nav-clear menu-close ui-sref="app.settings">
	          Settings
	        </ion-item>
        -->
      </ion-list>
    </ion-content>
			
	</ion-side-menu>
	
</ion-side-menus>