<div id="" class="device">
<!-- 	
	<div class="beacon-name" ng-show="ngModel.name">
		<span class="lable"> Name: </span> <span class="value">{{ngModel.name}}</span>
	</div> 
	-->
	<div class="beacon-type-name" ng-show="ngModel.typeName">
		<span class="lable"> Type: </span> <span class="value">{{ngModel.typeName}}</span>
	</div> 
	
	<div class="beacon-last-scan" ng-show="ngModel.lastScan">
		<span class="lable"> Last scan: </span> <span class="value">{{ngModel.lastScan  | date:'EEEE hh:mm:s.sss'}}</span>
	</div> 
	
	<div class="beacon-address" ng-show="ngModel.address">
		<span class="lable"> Address: </span> <span class="value">{{ngModel.address}}</span>
	</div> 
	
	<div class="beacon-uuid" ng-show="ngModel.uuid">
		<span class="lable"> UUID: </span> <span class="value">{{ngModel.uuid }}</span>
	</div> 

	<div class="beacon-major" ng-show="ngModel.major">
		<span class="lable"> Major: </span> <span class="value">{{ngModel.major}}</span>
	</div>


	<div class="beacon-minor" ng-show="ngModel.minor">
		<span class="lable"> Minor: </span> <span class="value">{{ngModel.minor}}</span>
	</div>


	<div class="beacon-rssi" ng-show="ngModel.rssi">
		<span class="lable"> RSSI: </span> <span class="value">{{ngModel.rssi}}</span>
	</div>

<!-- 
	<div class="beacon-trigger" ng-show="ngModel.triggerState">
		<span class="lable"> Trigger: </span> <span class="value">{{ngModel.triggerState}}</span>
		<div class="trigger-status triggerStatusClass">&nbsp;</div>
	</div>


	<div class="beacon-bars progress" >

		<div class="progress-rssi progress-bar progress-bar-striped active" ng-show="ngModel.rssi" 
				style="width:{{ngModel.rssi}}%;" aria-valuenow="{{ngModel.rssi}}" aria-valuemin="0" aria-valuemax="100" role="progressbar">
			<span class="value">{{ngModel.rssi}}</span>
		</div>

		<div class="progress-trigger progress-bar" ng-show="ngModel.trigger" 
				style="width:{{ngModel.trigger}}%" aria-valuenow="{{ngModel.trigger}}" aria-valuemin="0" aria-valuemax="100"  role="progressbar">
			<span class="value">{{ngModel.trigger}}</span>
		</div>

	</div>
	
	<div class="beacon-scan-record" ng-show="ngModel.scanRecord">
		<span class="lable"> Scan recond: </span> <span class="value">{{ngModel.scanRecord}}</span>
	</div>
	
	<div class="scan-record-first-block-lenght" ng-show="ngModel.firstBlockLenght">
		<span class="lable"> firstBlockLenght: </span> <span class="value">{{ngModel.firstBlockLenght}}</span>
	</div>
	<div class="scan-record-ble-flags" ng-show="ngModel.bleFlags">
		<span class="lable"> bleFlags: </span> <span class="value">{{ngModel.bleFlags}}</span>
	</div>
	<div class="scan-record-bin-val-flags" ng-show="ngModel.binValFlags">
		<span class="lable"> binValFlags: </span> <span class="value">{{ngModel.binValFlags}}</span>
	</div>
	<div class="scan-record-second-block-lenght" ng-show="ngModel.secondBlockLenght">
		<span class="lable"> secondBlockLenght: </span> <span class="value">{{ngModel.secondBlockLenght}}</span>
	</div>
	<div class="scan-record-second-block-identifier" ng-show="ngModel.secondBlockIdentifier">
		<span class="lable"> secondBlockIdentifier: </span> <span class="value">{{ngModel.secondBlockIdentifier}}</span>
	</div>
	<div class="scan-record-mf-id" ng-show="ngModel.mfId">
		<span class="lable"> Manufacture ID: </span> <span class="value">{{ngModel.mfId}}</span>
	</div>
	<div class="scan-record-d1" ng-show="ngModel.d1">
		<span class="lable"> d1: </span> <span class="value">{{ngModel.d1}}</span>
	</div>
	<div class="scan-record-d2" ng-show="ngModel.d2">
		<span class="lable"> d2": </span> <span class="value">{{ngModel.d2}}</span>
	</div>
	<div class="scan-record-mf-uuid" ng-show="ngModel.mfUuid">
		<span class="lable"> mfUuid": </span> <span class="value">{{ngModel.mfUuid}}</span>
	</div>
-->
</div>