<div id="analyse-config-form" scann-logger-save-progress container="z">

	<form  name="analyseForm" ng-submit="cfd.saveConfig(analyseForm, cfd.config)" novalidate>

       	<label class="item item-input item-floating-label" ng-class="{ 'has-error' : analyseForm.title.$invalid && analyseForm.$submitted, 'valid' : analyseForm.title.$valid && analyseForm.$submitted}">
		   <span class="input-label">Title of measurement</span>
		   <input type="text" placeholder="Title of measurement" name="title" ng-model="cfd.config.title" autocorrect="off" autocapitalize="off" spellcheck="false" required>
		</label>
       	<div class="form-errors"
            ng-show="analyseForm.title.$invalid && analyseForm.$submitted"
            ng-messages="analyseForm.title.$error">
            <div class="form-error" ng-message="required">This field is required.</div>
       	</div> 	
       	
        <div class="form-errors" ng-show="analyseForm.$submitted">
          <div class="form-error" ng-bind-html="error" ng-repeat="error in loginServerErrors" ></div>
        </div> 

		<button class="button button-positive button-clear padding-vertical button-center">Save settings</button>
	</form>
	
	<scann-logger-save-progress></scann-logger-save-progress>
	
	<div>{{cfd.packagesCount}}</div>
	<button id="z" ng-click="cfd.updateCount()" class="button button-positive button-clear padding-vertical button-center">update count</button>
	
	<button ng-click="cfd.startAnalyse()" class="button button-positive button-clear padding-vertical button-center">Start</button>
	<button ng-click="cfd.stopAnalyse()" class="button button-positive button-clear padding-vertical button-center">Stop</button>
	
	<button ng-click="cfd.saveData()" class="button button-positive button-clear padding-vertical button-center">Save</button>
	
	
</div>